<!DOCTYPE html>
<html>
  <head>
    <title>AirKong</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_m4qKo0DP_i9uW4VRugpaiez9Tss9miw&libraries=places"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/south-street/jquery-ui.css">
  </head>

	<body>
		<header>
			<%= render 'shared/header' %>
		</header>
		
		<main>
			<div class="container">
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, class: "alert alert-#{name}" %>
				<% end %>

				
		    <%= yield %>					
			</div>
		</main>

		<footer>
			
		</footer>	
	</body>

</html>